:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body > div {
  margin: 3rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

input {
  display: block;
  width: 100px !important;
}
input[type='text'] {
  width: 20ch !important;
}

div > div {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  background-color: rgb(56, 70, 70);
}

svg {
  display: inline-block;
  margin: 1rem;
  stroke: pink;
  stroke-width: 5;
  fill-opacity: 0.1;
  stroke-opacity: 0.9;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
